<style>
            * {
                tab-size: 80vw;
                margin: 0;
                padding: 0;
                font-family: 'Roboto', sans-serif;
            }
            
            kc {
                display: none;
            }

            #fourth-page p {
                font-family: 'Helvetica';
            }

            html {
                overflow:auto;
            }
            
            body {
                background-color: #EDEEEF;
            }
            
            #myVideo {
                position: absolute;
                right: 0;
                bottom: 0;
                min-width: 100%;
                min-height: 100%;
            }
            
            .imgo {
                transition: 0.5s;
                position: fixed;
                margin: 1.61vw 1.61vw;
                width:4.76vw;
                height:4.76vw;
            }
            
            .imgt {
                transition: 0.5s;
                position: fixed;
                margin: 0.37vw 0.37vw;
                width: 3.59vw;
                height: 3.59vw;
            }
            
            .text {
                transition: 0.5s;
                float: left;
                padding: 1.76vw 2.2vw;
                letter-spacing: 0.1vw;
                font-size: 0.97vw; 
            }
            
            .textt {
                transition: 0.5s;
                float: right;
                position: relative;
                top: -0.21vw;
                right: -0.35vw;
            }
            
            .textc {
                transition: 0.5s;
                float: right;
                margin-right: 2.57vw; 
                margin-top: 1.18vw;
            }
            
            a:hover, a:visited, a:link, a:active {
                text-decoration: none;
                color: white;
            }
            
            #third-page a:hover, #third-page a:visited, #third-page a:link, #third-page a:active {
                color:#232323;
                cursor: default;
            }
            
            #long {
                width:100%;
                height: 347.5vw;
                background: linear-gradient(black,grey);
            }
            
            #jumb {
                position:relative;
                top: 13.9vw;
                background: transparent;
                color: white;
            }
            
            hr {
                background-color:white;
                width: 25.8vw;
                margin: 0 auto;
                float: left;
            }
            
            #cb {
                font-size: 16.680vw;
                text-align: center;
                position: relative;
                top: -6.1020vw;
                font-weight: 500;
                margin-bottom: -6.1020vw;
            }
            
            #subtext {
                text-align: center;
                font-size: 1.18vw;
                font-family: inherit!important;
            }
            
            #hr {
                width: 1.74vw;
                float: left;
                position: relative;
                top: 0.9vw;
                margin-right: 0.69vw;
                margin-left: 0.69vw;
            }
            
            #clr, #subtext{
                clear: both;
            }
            
            #hrdiv {
                width: 54.72vw;
                margin: 0 auto;
                position: relative;
            }
            
            hr {
                height: 0.1vw;
            }
            
            #left{
                background-image: linear-gradient(to left, white,#808080,#383838);
            }
            
            
            #right{
                background-image: linear-gradient(to right, white,#808080,#383838);
            }
            
            ul:hover li{
                transition: 0.7s;
                opacity:0.5;
                margin-top: 1.46vw;
            }
            
            ul li:hover{
                opacity:1;
                margin-top: 0;
                font-size: 1.46vw;
            }
            
            ul li {
                transition: 0.7s;
                margin-top: 0;
            }
            
            ul,li {
                list-style-type: none;
            }
            button {
                position: absolute;
                width: 17.57vw;
                height: 3.66vw;
            }
            
            #button {
                width: 17.57vw;
                margin: 10.98vw auto;
            }
            
            .header {
                position: fixed;
                transition: 0.5s;
                width: 100%;
                height: 7.68vw;
                background: transparent;
            }
            
            .header2 {
                transition: 0.5s;
                position: fixed;
                width: 100%;
                height: 4.53vw;
/*                background: #131416;*/
                background: #232323;
                z-index: 5;
            }
            
            .outer1 {
                position: relative;
                width: 100%;
                height: 100%;
                float: left;
                margin:0 auto;
                perspective: 900px;
                transition: 0.5s;
            }
            
            .ft {
                font-size: 1.3vw;
            }

            .heads {
                font-size: 2.3vw
            }

            .inner1:hover, .inner2:hover, .inner3:hover {
                transition: 0.7s;
                transform: rotateX(0deg);
            }
            
            .inner1,.inner2,.inner3 {
                font-family: 'Helvetica',sans-serif;
                transition: 0.7s;
                transform: rotateX(50deg);
                width: 18.301vw;
                height: 36.601vw;
                margin-top: 1.464vw;
                float: left;
                background: linear-gradient(grey,transparent);
                border-radius: 7px;
                text-align: center;
                padding: 0.732vw;
            }
            
            .inner1 {
                margin-left: 3.66vw;
            }

            .inner2 {
                margin-left: 5%;
            }

            .inner3 {
                margin-left: 5%;
            }
            
            .p {
                text-align: justify;
            }
            
            #img:hover {
                transition: 0.5s;
                transform: rotate(360deg);
            }
            
            #second-page, #third-page, #fourth-page {
                padding:0 14.64vw 0 14.64vw;
            }
            
            .pagetitle {
                font-size: 4.392vw;
                text-align: center;
                padding-top: 4.758vw;
            }
            
            tag {
                font-size: 4.02vw;
                margin-top: 3.66vw !important;
            }
            
            #selfpic {
                transition: 1s;
                margin-top: 3.66vw;
                width: 21.96vw;
                border-top-right-radius: 7.32vw;
                border-bottom-left-radius: 7.32vw;
            }
            
            #selfpic:hover {
                transition: 0.5s;
                position: relative;
/*                transform: rotateY(180deg);*/
/*                top: 30px;*/
/*                left: 0px;*/
                margin-left: -0.366vw;
                margin-bottom: -0.366vw;
                width: 24.89vw;
            }
            
            .pic {
                transition: 1s;
                position: relative;
                left: 0.366vw;
                opacity: 1 !important;
            }
            
            .myPic {
                transition: 1s;
                position: relative;
                left: -5.124vw !important;
                opacity: 0 !important;
            }
            
            #third-page {
                padding-top: 4.39vw;
            }
            
            clr {
                clear: both;
            }
            
            .aboutText {
                margin: 3.66vw;
            }
            
            #aboutTitle, .aboutText {
                text-align: justify;
            }
            
            /* 1366 - 400 => 966 - 340 => 626 */
            
            .aboutText {
                width: 36.6vw;
                float: right;
            }

            #fourthHead {
                text-align: center;
                position: relative;
                top: -7.32vw;
            }
            
            #fourth-page {
                line-height: 0.732vw;  
            }
            
            #address {
                width: 21.96vw;
                margin-top: 10.98vw;
                float: left;
            }
            
            .bold {
                text-align: center;
                font-size: 3.66vw;
            }
            
            #numbers {
                float: right;
                margin-top: 10.98vw;
            }
            
            #follow {
                width: 39.531vw;
                text-align: center;
                margin: 0 auto;
                cursor: default;
            }
            
            .folimg {
                transition: 0.5s;
                margin-left: 0.366vw;
                margin-right: 0.366vw;
                width: 3.66vw;
                border-radius: 50%;
                position: relative;
/*                right: -26px;*/
            }
            
            .folimg:hover {
                transition: 0.5s;
                transform: rotate(360deg);
            }
            
            #foltext {
                font-size: 1.83vw;
            }
            
            #fourth-page {
                padding-top: 14.641vw;
            }
    
            .but {
                transition: 0.3s;
                width: 16.46vw;
                height: 3.147vw;
                font-size: 1.024vw;
                color: grey;
                background: transparent;
                border: 1px solid grey;
                border-radius: 5px;
            }

            .but:hover {
                transition: 0.3s;
                background: #6C757D;
                color: white;
                cursor: pointer;
            }
            
            #button {
                width: 16.32vw;
            }
            
            .but:focus {
                transition: 0.5s;
                outline: 2px solid grey;
            }
            
            #up, #bot {
                transition: 0.5s;
                padding: 0.366vw;
                width: 4.392vw;
                height: 3.66vw;
                position: fixed;
                right: 3.66vw;
                bottom: 7.32vw;
            }
            
            #bot {
                transition: 0.5s;
                bottom: 3.66vw;
            }
            
            .scrl {
                position: fixed;
                width: 3.66vw;
            }
            
            #upb, #botb {
                transform: rotateZ(180deg);
            }
            
            #bota {
                bottom: 6.222vw;
            }
            
            #upb {
                bottom: 4.75vw;
            }
            
            #botb {
                transition: 0.5s;
                bottom: 3.8799vw;
            }
            
            #upa, #botb {
                width: 2.635vw;
                right: 4.538vw;
            }
            
            #up:hover, #bot:hover {
                cursor: pointer;
            }
            
            #up:hover {
                transition: 0.5s;
                bottom: 8.784vw;
            }
            
            #bot:hover #botb {
                transition: 0.5s;
                bottom: 2.196vw;
            }
            
            .nodisp {
                transition: 1s;
                opacity: 0;
                cursor: default !important;
            }
            
            .disp {
                transition: 1s !important;
                opacity: 1;
                cursor: pointer;
            }

        </style>
